
.body{
  padding-top: 70px;
  padding-left: 80px;
  padding-bottom: 1000px;
}

.header{
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content:  space-between;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  z-index: 1;
}

.left-section{
  display: flex;
  align-items: center;
}


.middle-section{

  flex: 1;
  margin-left: 70px;
  margin-right: 40px;
  max-width: 500px;
  display: flex;
  align-items: center;

}

.right-section{
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
  flex-shrink: 0;
}

.hamburger-logo{
  height: 25px;
  margin-left: 25px;
}

.youtube-logo{
  height: 20px;
  margin-left: 20px;
}


.search-button{
  height: 39px;
  width: 60px;
  border-color: rgb(120, 118, 118);
  border-width:  1px;
  border-style: solid;

}

.search-button,.voice-search-icon,
.upload-icon-container,.youtube-apps-container,.notifications-icon-container{
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

.search-button .tooltip,
.voice-search-icon .tooltip,
.upload-icon-container .tooltip ,
.youtube-apps-container .tooltip,
.notifications-icon-container .tooltip{
  font-family: roboto,arial;
  background-color: lightgray;
  padding-left: 5px;
  padding-top: 8px;
  padding-bottom:8px ;
  padding-right: 5px;
  bottom: -40px;
  position: absolute;
  border-radius: 3px;
  opacity: 0;
  transition: opacity 0.15s;
  pointer-events: none;
  white-space: nowrap;
}

.search-button:hover .tooltip,
 .voice-search-icon:hover .tooltip,
 .upload-icon-container:hover .tooltip,
 .youtube-apps-container:hover .tooltip,
 .notifications-icon-container:hover .tooltip{
  opacity: 1;
}


.voice-search-icon{
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 70px;
  background-color: rgb(239, 238, 238);
  margin-left: 10px;
  vertical-align: middle;
 

}

.search-bar{
  display: flex;
  flex: 1;
  height: 36px;
  padding-left: 15px;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(120, 118, 118);
  width: 0;
}


.search-button::placeholder{
  font-family:roboto,Arial;
  font-size: 16px;
}


.search-icon{
  height: 30px;
  vertical-align: middle;

}


.upload-icon{
  height: 25px;
}

.youtube-apps{
  height: 25px;
}

.notifications-icon{
  height: 25px;
}

.account-image{
height: 35px;
border-radius: 50px;
}

.notifications-icon-container{
  position: relative;
}

.notifications-count{
  background-color: red;
  color: white;
  position: absolute;
  top: -3px;
  right: -6px;
  font-size: 11px;
  border-radius: 10px;
  font-family: roboto,arial;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 3px;
  padding-left: 3px;

}
